body, html {
    height: 100%;
}

body {
    font-family: Arial;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 12px auto;
    width: 800px;
}

button {
    box-sizing: border-box;
    background: #ffd600;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border: none;
    height: 33px;
    color: black;
    padding: 0;
}

#wrapper {
    border: 3px solid #ffd600;
    border-radius: 3px;
    margin: 0 auto;
    height: 800px;
    width: 800px;
}

input, textarea {
    box-sizing: border-box;
    outline: none;
    border: none;
}

input:focus, textarea:focus {
    outline: none;
}

#field input {
    font-size: 18px;
    padding: 6px;
    width: 700px;
}

#field button {
    width: 100px;
    float:right;
}

#content {
    height: 768px;
}

#content form {
    height: 100%;
}

#content textarea {
    border-bottom: 3px solid #ffd600;
    border-top: 3px solid #ffd600;
    background-color: #f1f1f1;
    height: calc(100% - 34px);
    font-size: 14px;
    padding: 6px;
    resize: none;
    width: 100%;
}

#content button {
    position: relative;
    width: 100%;
    top: -4px;
}
